 nav {
    height: 120px;
    display: flex;
    background-color: #4056A1;
    font-family: Bungee, sans-serif;
    padding: 1.5em;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    color: #FFFFFF;
    justify-content: space-between;
    } 

  
  .right {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }